[Unit]
Description=Sync Owncloud + Todoist Calenders into OrgMode

[Service]
Type=oneshot
ExecStart=/run/current-system/sw/bin/nix-shell --run ./sync.sh
WorkingDirectory=/home/bascht/Code/ical2org
