[Unit]
Description=Run org-clock timer
Wants=emacs.service

[Timer]
OnActiveSec=30s
OnUnitActiveSec=120s
Unit=org-clock.service

[Install]
WantedBy=timers.target
