[Unit]
Description=Run worklogger timer

[Timer]
OnActiveSec=30s
OnUnitActiveSec=60m
RandomizedDelaySec=10m
Unit=worklogger.service

[Install]
WantedBy=timers.target
