
Sebastian Schulze

smtp:    mail@{{ .chezmoi.username }}.com
jabber:  {{ .chezmoi.username }}@yakshed.org
http:    https://{{ .chezmoi.username }}.com
keybase: keybase.io/{{ .chezmoi.username }}

---

Always acknowledge a fault. This will throw those in authority off
their guard and give you an opportunity to commit more. -- Mark Twain
