-----

[[mailto:mail@{{ .chezmoi.username }}.com][mail@{{ .chezmoi.username }}.com]] · https://{{ .chezmoi.username }}.com · [[https://matrix.to/#/@{{ .chezmoi.username }}:matrix.{{ .chezmoi.username }}.space][@{{ .chezmoi.username }}:matrix.{{ .chezmoi.username }}.space]]

#+begin_quote
Always acknowledge a fault. This will throw those in authority off
their guard and give you an opportunity to commit more. -- Mark Twain
#+end_quote
