@-moz-document url-prefix("about:reader") {
    body {
        font-family: "JetBrains Mono" !important;
    }
}

@-moz-document domain(68.news) {
    body {
        font-family: "JetBrains Mono" !important;
    }
}

@-moz-document {{range .git.forges }}domain({{.}}), {{ end }}domain(github.com) {
    div.js-pipeline-graph .gl-text-truncate {
        overflow: unset !important;
        text-overflow: none !important;
        white-space: normal !important;
        font-size: 0.6em;
    }

    div.sidebar-container .gl-text-truncate {
        overflow: unset !important;
        text-overflow: unset !important;
        white-space: normal !important;
    }

    body,

    div.message-in,
    div.message-out,
    td.comment-body,
    .ql-editor {
        font-family: "JetBrains Mono" !important;
    }

    .js-pipeline-graph .build-content {
        border-radius: 0.35rem !important;
    }

    .js-pipeline-graph .gl-pipeline-job-width {
        width: 230px !important;
    }
    .js-pipeline-graph .ci-job-component {
        width: 240px !important;
    }

    .js-pipeline-graph .ci-job-name-component {
        width: 240px !important;
    }

    .js-pipeline-graph .gl-ci-action-icon-container {
        border-radius: 15% !important;
    }

    .gl-label {
        border-radius: 0.35rem !important;
    }

    .c-timestamp__label {
        font-size: 0.8em;
    }

    .fa {
        font: "normal normal normal 14px/1 FontAwesome";
    }
}

@-moz-document {{range .git.forges }}domain({{.}}),{{ end }}domain(github.com) {
    .ci-status-icon-success-with-warnings svg {
        fill: crimson !important;
    }

    .dropdown-menu li[data-milestone-id^="Ops Team Sprint"] {
        background-color: blanchedalmond !important;
        font-weight: bold !important;
    }
    .dropdown-menu li[data-milestone-id="Ops Team Backlog"] {
        background-color: palegoldenrod !important;
        font-weight: bold !important;
    }
    .dropdown-menu li[data-milestone-id^="Ops Team Sprint"]:hover,
    .dropdown-menu li[data-milestone-id^="Ops Team Sprint"]:hover * {
        background-color: blanchedalmond !important;
    }
    .dropdown-menu li[data-milestone-id="Ops Team Backlog"]:hover,
    .dropdown-menu li[data-milestone-id="Ops Team Backlog"]:hover * {
        background-color: palegoldenrod !important;
    }

    .gl-label-text-light {
        border-radius: 0.35rem
    }

    .pipeline-graph .build {
        width: auto;
    }

    .pipeline-graph .gl-text-truncate {
        overflow: visible;
    }

    .pipeline-graph .build .build-content {
        border-radius: 10px;
    }

    .pipeline-graph li.build[id*="production"] .ci-job-component .menu-item {
        box-shadow: 0px 0px 5px #f00606;
    }

    .pipeline-graph li.build[id*="staging"] .ci-job-component .menu-item {
        box-shadow: 0px 0px 5px #f09a06;
    }
}
