;; -*- no-byte-compile: t; -*-
;;; $DOOMDIR/packages.el

(package! org-super-agenda)
(package! org-mru-clock)
(package! toml-mode)
(package! org-journal)
(package! org-alert)
(package! humanoid-themes)
(package! csv-mode)
(unpin! org-roam)
(package! org-roam-ui)

{{- range .doom.extra_packages }}
(package! {{ . }})
{{- end }}
