icons = "awesome"

[theme]
name = "plain"

[theme.overrides]
{{- if (eq .chezmoi.hostname "apfelstrudel") }}
idle_bg = "#2E3440"
good_bg = "#2E3440"
warning_bg = "#81A1C1"
critical_bg = "#88C0D0"
separator_bg = "#2E3440"
separator_fg = "#434C5E"
{{- else }}
idle_bg = "#181818"
good_bg = "#181818"
warning_bg = "#81A1C1"
critical_bg = "#88C0D0"
separator_bg = "#181818"
separator_fg = "#434C5E"
{{- end }}

[[block]]
block = "custom"
command = '/home/bascht/bin/org-get-current-clock-task'
interval = 10
on_click = "em -c -e '(org-clock-goto)'"

[[block]]
block = "sound"

[[block]]
block = "music"
buttons = ["play", "next"]
on_collapsed_click = "cantata"
marquee = false
max_width = 10

[[block]]
block = "load"
interval = 10
format = "{1m}"

[[block]]
block = "memory"
display_type = "memory"
format_mem = "{mem_used_percents}"
format_swap = "{swap_used_percents}"

[[block]]
block = "networkmanager"
on_click = "alacritty -e nmtui"
interface_name_exclude = ["br\\-[0-9a-f]{12}", "docker\\d+", "tun0", "virbr\\-[0-9]{12}"]
#interface_name_include = []
device_format = "{icon}{ap}"

[[block]]
block = "toggle"
text = ""
command_state = "alfaview-screenshare status"
command_on = "alfaview-screenshare start"
command_off = "alfaview-screenshare stop"
interval = 10

[[block]]
block = "backlight"
{{- if or (eq .chezmoi.hostname "kandalingo") }}
device = "intel_backlight"
{{- end }}

[[block]]
block = "battery"
driver = "upower"
format = "{percentage} {time}"

[[block]]
block = "time"
interval = 10
format = "(u%R)"
timezone = "UTC"

[[block]]
block = "time"
interval = 10
format = "%a %d.%m. %R"
timezone = "Europe/Berlin"
