[icons]
icons = "awesome6"

[theme]
theme = "plain"

[theme.overrides]
{{- if (eq .chezmoi.hostname "apfelstrudel") }}
idle_bg = "#2E3440"
good_bg = "#2E3440"
warning_bg = "#81A1C1"
critical_bg = "#88C0D0"
separator_bg = "#2E3440"
separator_fg = "#434C5E"
{{- else }}
idle_bg = "#181818"
good_bg = "#181818"
warning_bg = "#81A1C1"
critical_bg = "#88C0D0"
separator_bg = "#181818"
separator_fg = "#434C5E"
{{- end }}

[[block]]
block = "custom"
command = '/home/bascht/bin/homeassistant-co2-office'
interval = 60

[[block]]
block = "custom"
command = '/home/bascht/bin/org-get-current-clock-task'
interval = 10
[[block.click]]
button = "left"
cmd = "em -c -e '(org-clock-goto)'"

[[block]]
block = "sound"

[[block]]
block = "music"
format = " $icon {$combo.str(max_w:15,rot_interval:0.5) $play $next |}"
player = ["org.mpris.MediaPlayer2.mopidy"]
[[block.click]]
button = "left"
cmd = "foot ncmpcpp"

[[block]]
block = "load"
interval = 10
format = "$icon $1m"
warning = 2
critical = 4
[block.theme_overrides]
warning_fg = "#813e00"
critical_fg = "#a60000"

[[block]]
block = "memory"
format = " $icon $mem_used_percents.eng(w:1) "
format_alt = " $icon_swap $swap_free.eng(w:3,u:B,p:M)/$swap_total.eng(w:3,u:B,p:M)($swap_used_percents.eng(w:2)) "

[[block]]
block = "net"
device = "ethernet"
missing_format = ""
inactive_format = ""
format = ""
format_alt = "$speed_down $speed_up"

[[block]]
block = "net"
device = "wifi"
missing_format = ""
inactive_format = ""
format = "{$ssid|N/A} {$signal_strength|}"
format_alt = "$speed_down $speed_up"
[[block.click]]
button = "left"
cmd = "wpa_gui"

[[block]]
block = "backlight"

[[block]]
block = "battery"
driver = "upower"
format = "$percentage $time"

[[block]]
block = "time"
interval = 10
format = "$timestamp.datetime(f:'u%R') "
timezone = "UTC"

[[block]]
block = "time"
interval = 10
format = " $icon $timestamp.datetime(f:'%d.%m %R', l:de_DE) "
timezone = "Europe/Berlin"
